.toolbar {
    height: 100%;
    width: 100%;
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 20px;
}

.toolcontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.toolcontainer .header {
    width: 100%;
    height: 30px;
}


.toolcontainer .body {
    width: 100%;
    height: calc(100% - 80px);
    scrollbar-width: thin;
}

.toolcontainer .footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
}

.toolcontainer .footer .run {
    border-radius: 5px;
    background-color: lightblue;
    color: white;
    margin-top: 15px;
    padding: 5px;
    float: right;
    cursor: pointer;
}
.toolcontainer .footer .run:disabled {
    background-color: lightgray;
}

.toolcontainer .footer .info {
    border-radius: 5px;
    background-color: lightblue;
    margin-top: 15px;
    padding: 5px;
    float: left;
    cursor: pointer;
}
.toolcontainer .footer .info:disabled {
    background-color: lightgray;
}