.toolbar {
    height: 550px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 1em lightgray;
    padding: 20px;
}

.toolcontainer .header {
    width: 100%;
    height: 5%;
}

.toolcontainer .body {
    width: 100%;
    height: 85%;
}

.toolcontainer .footer {
    width: 100%;
    height: 10%;
}

.toolcontainer .footer .run {
    border-radius: 5px;
    background-color: lightblue;
    color: white;
    margin-top: 15px;
    padding: 5px;
    float: right;
    cursor: pointer;
}

.toolcontainer .footer .run:disabled {
    background-color: lightgray;
}

.toolcontainer .footer .info {
    border-radius: 5px;
    background-color: lightblue;
    margin-top: 15px;
    padding: 5px;
    float: left;
    cursor: pointer;
}

.toolcontainer .footer .info:disabled {
    background-color: lightgray;
}

.toolparam {
    width: 100%;
    height: max-content;
    padding: 10px;
}

.toolparam .header {
    height: 15px;
}

.toolparam .body {
    padding-top: 10px;
    padding-bottom: 0px;
    height: fit-content;
}

.toolparam .body input[type=text] {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.toolparam .body select {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-appearance: menulist;
}