.toolparam {
    width: 100%;
    height: max-content;
    padding: 10px;
}

.toolparam .header {
    height: 15px;
}

.toolparam .body {
    padding-top: 10px;
    padding-bottom: 0px;
    height: fit-content;
}