.filesbar {
    font-size: 16;
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.filesbar .divider {
    height: 1px;
    width: 100%;
    background-color: darkgray;
    margin: 15px 0px;
}

.filetree {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.filetree .children {
    position: relative;
    left: 20px;
}

.filetreeitem {
    padding: 0px 20px 0px 0px;
    height: 30px;
    width: max-content;
    color: white;
}

.filetreeitem .item {
    z-index: 1;
    user-select: none;
    cursor: pointer;
}

.filetreeitem .item:hover {
    background-color: rgb(81, 81, 81);
}

.filetreeitem .icon {
    width: 20px;
    display: inline-block;
}

.filetreeitem .text {
    width: fit-content;
    display: inline-block;
}