.filesbar {
    font-size: 16;
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding: 20px;
    overflow-y: none;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.filesbar .divider {
    height: 1px;
    width: 100%;
    background-color: darkgray;
    margin: 15px 0px;
}

.filetree {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.filetree .children {
    position: relative;
    left: 20px;
}

.filetreeitem {
    margin: 0px 0px 5px 0px;
    padding: 0px 5px 0px 5px;
    height: 27px;
    width: max-content;
    border-radius: 2px;
    border-width: 1px;
    border-style: dashed;
    border-color: transparent;
    color: rgb(173, 173, 173);
    user-select: none;
    cursor: pointer;

    transition: color 0.2s;
    transition: border 0.4s;
}

.filetreeitem:hover {
    color: #7cd4b7;
    border-color: #6bd1af;
    transition: color 0.2s;
    transition: border 0.6s;
}

.filetreeitem.clicked {
    color: #7cd4b7;
    border-color: #6bd1af;
    transition: color 0.2s;
    transition: border 0.6s;    
    box-shadow: 0px 0px 4px #6bd1af;
    transition: box-shadow 0.3s;
}

.filetreeitem .icon {
    width: 20px;
    display: inline-block;
}

.filetreeitem .text {
    width: fit-content;
    display: inline-block;
}