.map {
    height: 100%;
    width: 80%;
    float: right;
  }

.sidebar {
  height: 100%;
  width: 20%;
  float: left;
}

.container {
  height: 50%;
  width: 100%;
}

.button {
  padding: 5;
}

.ors {
  color: black;
}

.mapbox {
  color: red;
}

.targamo {
  color: green;
}

.bing {
  color: blue;
}


