.mapregion {
    position: relative;
    flex: 1;
    height: 100%;
    width: 100%;
    z-index:0;
}

.featuretext {
    width: 400px;
    height: 200px;
    resize: none;
    color: white;
    overflow: scroll;
    scrollbar-width: thin;
}