.topbarcomp {
    height: 110px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
    border-right: 1px solid;
    border-right-color: lightgray;
    float: left;
    display: grid;
    grid-template-rows: 95px 15px;
    transition: 0.3s;
}
.topbarcomp .footer {
    width: 100%;
    height: 20px;
    font-size: 10;
    color: rgb(80, 80, 80);
    text-align: center;
    bottom: 0;
}
.topbarcomp .content {
    width: fit-content;
    height: 90px;
    margin: 5px;
    font-size: 12;
}
.topbarcomp .bigbutton {
    width: auto;
    height: 90px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
}
.topbarcomp .smallbutton {
    width: auto;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
}
.topbarcomp .bigbutton:hover {
    background-color: rgba(240, 238, 238, 0.5);  
}
.topbarcomp .smallbutton:hover {
    background-color: rgba(240, 238, 238, 0.5);  
}
.topbarcomp .highlight {
    background-color: rgb(65, 163, 170);
    transition: 0.1;
}

.topbarcomp .highlight:hover {
    background-color: rgb(65, 163, 170);
}

.topbarcomp .container {
    height: 90px;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
  }