.topbar {
    height: fit-content;
    width: 80%;
    background-color: transparent;
    margin: 10px;
    position: absolute;
    z-index: 1;
}

.topbar-tabs {
    overflow: hidden;
    font-size: 13;
    height: 30px;
    font-weight: 500;
    margin-bottom: 5px;
    padding-top: 5px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 1em lightgray;
    width: fit-content;
}

.topbar-tabs-item {
    float: left;
    width: max-content;
    margin-left: 10px;
    margin-right: 10px;
}

.topbar-tabs-item:hover {
    border-bottom: solid 0.2em;
    border-bottom-color: lightgray;
    cursor: pointer;
}

.topbar-tabs-item.active {
    border-bottom: solid 0.2em;
    border-bottom-color: rgb(65, 163, 170);
}

.topbar-tabs-item.active:hover {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.topbar-items {
    height: 120px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 1em lightgray;
}

