body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.appcontainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 150px 1fr;
}

.featuretext {
  width: 90%;
  height: 90%;
  margin: 10px;
}

.dragablewindow {
  background-color: none;
  width: 300px;
  height: 200px;
  position: absolute;
  box-shadow: 5px 5px 25px 15px silver;
  z-index: 100;
  border-radius: 15px;
}

.dragablewindow-header {
  width: 100%;
  height: 30px;
  background-color: grey;
  cursor: move;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.dragablewindow-body {
  width: 100%;
  height: 100%;
  background-color: white;
  border-style: ou;
  cursor: move;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dragablewindow-header-close {
  float: right;
}

.dragablewindow-header-name {
  padding: 5px;
  float: left;
}

.hide {
  transition: 0.01s;
  transform: translateX(-9999px);
}

.mapregion {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index:0;
}