body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.appcontainer {
  height: 100%;
  width: 100%;
  color: rgb(165, 165, 165);
}

.middlecontainer {
  height: calc(100vh - 57px);
  width: 100%;
  position: relative;
  z-index: 1;
}

.tooltext {
  width: 400px;
  height: 300px;
  resize: none;
  overflow-y: auto;
}