.topbarbutton {
    width: 200px;
    height: 24px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 13;
    text-align: left;
    color: var(--text-light-color);
}
.topbarbutton:hover {
    background-color: var(--bg-hover-color);  
}
.topbarbutton.highlight {
    background-color: var(--theme-color);
    color: var(--text-theme-color);
}
.topbarbutton.highlight:hover {
    background-color: var(--theme-color);
    color: var(--text-theme-color);
}