.topbaritem {
    height: 23px;
    width: fit-content;
    position: relative;
    float: left;
    background-color: var(--bg-light-color);
    margin: 5px 5px;
    border-radius: 5px;
}

.topbaritem .tab {
    height: 23px;
    width: fit-content;
    padding: 0px 10px;
}

.topbaritem:hover {
    background-color: var(--bg-hover-color);
}
.topbaritem.active {
    background-color: var(--bg-hover-color);
}
.topbaritem.active:hover {
    background-color: var(--bg-hover-color);
}

.topbaritem.active .menu {
    position: absolute;
    top: 100%;
    left: 0%;
    height: fit-content;
    width: 200px;
    background-color: var(--bg-light-color);
    z-index: 100;
    border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
}