.layerbar {
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.layertreeitem {
    padding: 5px 0px;
    width: calc(100% - 20px);
    height: 35px;
    margin: 5px 10px;
}
.layertreeitem.highlight {
    background-color: rgba(65, 163, 170);
}

.layertreeitem .check {
    float: left;
    width: 25px;
    height: 25px;
}
.layertreeitem .check input {
    width: 15px;
    height: 15px;
    margin-top: 4px;
    margin-left: 5px;
}

.layertreeitem .layer {
    width: calc(100% - 75px);
    height: 25px;
    float: left;
    color: white;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.layertreeitem .arrows {
    float: right;
    width: 50px;
    height: 25px;
    color: white;
}
.layertreeitem .arrows .icon {
    cursor: pointer;
}