.layerbar {
    height: 500px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 1em lightgray;
    padding: 20px;
}

.layertreeitem {
    padding: 0px 10px;
    width: 100%;
    height: 25px; 
    margin: 10px 0px;   
}

.layertreeitem input {
    margin: 5px 0px;   
    width: 10%;
}

.layertreeitem .layer {
    width: 85%;
    height: 25px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: inline-block;
}
  
.layertreeitem .highlightlayer {
    background-color: rgba(65, 163, 170, 0.5);
}
  
.layertreeitem div {
    height: fit-content;
    width: fit-content;
    float: right;
}