.dragablewindow {
    background-color: none;
    position: absolute;
    z-index: 10;
}

.dragablewindow-header {
    width: 100%;
    height: 30px;
    background-color: rgb(65, 163, 170, 0.7);
    cursor: move;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dragablewindow-header-close {
    float: right;
    cursor: pointer;
    padding: 3px;
}

.dragablewindow-header-name {
    padding: 3px;
    float: left;
    color: white;
    font-size: 1.2rem;
    line-height: 23px;
}

.dragablewindow-header-info {
    padding: 4px;
    float: left;
    color: white;
    font-size: 1.2rem;
    line-height: 23px;
}

.dragablewindow-body {
    width: 100%;
    height: calc(100% - 30px);
    background-color: rgb(61, 61, 61);
    overflow: hidden;
}

.dragablewindow .resizer-right {
    position: absolute;
    right: 0px;
    top: 0px;
    height: calc(100% - 5px);
    width: 5px;
    background-color: transparent;
    cursor: ew-resize;
}

.dragablewindow .resizer-bottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: calc(100% - 5px);
    height: 5px;
    background-color: transparent;
    cursor: ns-resize;
}

.dragablewindow .resizer-corner {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 5px;
    height: 5px;
    background-color: transparent;
    cursor: nw-resize;
}